:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.25;
  font-weight: 400;
  font-size: 12px;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;

  /* ...we'll implement this later :) */
  /* color-scheme: light dark; */
  color: rgba(24, 24, 24, 0.87);
  background-color: #fcfcfc;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* variables */
  --theme-colour-primary-blue: oklch(28.2% 0.091 267.935);
  --theme-colour-secondary-white: oklch(98.5% 0 0); /* tailwind zinc-50 */
  --theme-colour-tertiary-grey: oklch(27.4% 0.006 286.033);
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;

  background: linear-gradient(45deg, #D6E6F2, #C8ABE6, #6EB8E1);

  background-image: url("assets/img/cs100bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (min-width: 1400px) {
  :root {
    font-size: 16px;
  }
}