/* SearchViewMain.module.css */

/* 
Lint or layout rules:

Styles grouped in the following order
  1. Type selectors
  2. ID selectors
  3. Class selector
  4. Media selectors (if applicable)

Selectors must be written in camelCase
Selectors must be placed in alphabetical order within each group. 
Exactly one newline between each selector.
*/

/* 1. Type selectors */

h1 {
  margin: 15px;
  font-size: 28px;
}

/* 2. ID selectors */

/* 3. Class selectors */

.searchViewObject {
    /* size, padding, and margin properties */
	padding: 0;
	margin: 0;

	/* border properties */
	border-top: 4px solid oklch(28.2% 0.091 267.935);
}

.searchViewHeaderGroup {
	padding: 20vh 12vw 10vh 12vw;
}