/* TripView.module.css */

/* 
Lint or layout rules:

Styles grouped in the following order
  1. Type selectors
  2. ID selectors
  3. Class selector
  4. Media selectors (if applicable)

Selectors must be written in camelCase
Selectors must be placed in alphabetical order within each group. 
Exactly one newline between each selector.
*/

/* 1. Type selectors */

ul {
    margin: 0;
    padding: 0;
}

/* 2. ID selectors */

/* 3. Class selectors */

.columnHeader {
    /* layout properties */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    /* border properties */
    border-bottom: 3px grey solid;

    /* font properties */
    color: white;
}

.columnHeaderItemLongObject, .columnHeaderItemStandardObject, .columnHeaderItemNarrowObject {
    /* size, padding, and margin properties */
    margin: 5px 0px;

    /* font properties */
    color: white;
    font-size: 1.5rem;
    font-family: "Workbench", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "BLED" 0,
        "SCAN" 0;
    text-align: start;
}

.columnHeaderItemLongObject {
    /* size, padding, and margin properties */
    min-width: 275px;
    padding: 2px 25px 2px 0px;
}

.columnHeaderItemStandardObject {
    /* size, padding, and margin properties */
    min-width: 155px;
    padding: 2px 25px 2px 0px;
}

.columnHeaderItemNarrowObject {
    /* size, padding, and margin properties */
    min-width: 125px;
    padding: 2px 25px 2px 0px;
}

.tableHeaderTitle {
    /* size, padding, and margin properties */
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;

    /* TODO remove redundant */
    /* font properties */
    font-size: 2rem;
    font-family: "Workbench", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "BLED" 0,
      "SCAN" 0;
    color: rgb(232, 232, 177);
    text-align: center;
}

/* Our main table object */
.tableViewObject {
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 0px 13px 18px 18px;
    background-color: rgb(255, 178, 62);
    background-color: rgb(5, 5, 5);

    scrollbar-width: none;
}

.tableViewObject::-webkit-scrollbar {
    display: none;
}

.tripRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    text-align: start;
    border-bottom: 1px grey solid;

    justify-content: space-between;

    /* font properties */
    color: white;
    font-size: 1.2rem;
    font-family: "Workbench", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "BLED" 0,
        "SCAN" 0;
}

.tripRowNarrowField, .tripRowStandardField, .tripRowLongField  {
    margin: 11px 0px;
    padding: 2px 25px 2px 0px;
    color: white;
}

.tripRowNarrowField {
    min-width: 125px;
}

.tripRowStandardField {
    min-width: 155px;
}

.tripRowLongField {
    min-width: 275px;
}

/* special effects */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  background-size: 5px 5px;
  background-image: linear-gradient(
      to right,
      rgba(52, 52, 52, 0.03) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(52, 52, 52, 0.03) 1px, transparent 1px);
  z-index: 1040;
  pointer-events: none;
}

.darkoverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(78, 75, 66, 0.24),
    transparent 25%,
    transparent 75%,
    rgba(78, 75, 66, 0.24)
  );
  z-index: 1050; /* this should be above the grid overlay */
  pointer-events: none; /* Allow clicks to pass through the overlay */
}
