/* SearchOutput.module.css */

/* 
Kindly adhere to the following linting or layout rules.

Styles grouped in the following order
  1. Type selectors
  2. ID selectors
  3. Class selector
  4. Media selectors (if applicable)

Selectors must be written in camelCase
Selectors must be placed in alphabetical order within each group. 
Exactly one newline between each selector.
*/

/* 1. Type selectors */

/* 2. ID selectors */

/* 3. Class selectors */

.searchOutputObject {
    background-color: white;
    /* min-height: 15vh; */
    padding: 4vh 12vw;

    transition: all 0.3s ease-out;
}

.searchResultInfoMessage {
    font-style: italic;
    margin-bottom: 10px;
    text-align: center;
}

li.flightInformationObject {
    display: block;

    align-items: center;
    border: 2px solid var(--theme-colour-primary-blue);
    border-radius: 8px;
    /* padding: 0px 10px; */
    padding: 0px;
    list-style-type: none;
    margin: 50px 0;
}

img.flightInformationImage {
    display: block;
}

/* For the search animation */

/* HTML: <div class="loader"></div> */
.loader {
    width: 100px;
    display: grid;
    background: radial-gradient(farthest-side, #fff 98%, #0000) center/30px 100% no-repeat;
    --mask:
        radial-gradient(12px at left 15px top 50%, #0000 95%, #000),
        radial-gradient(12px at center, #0000 95%, #000),
        radial-gradient(12px at right 15px top 50%, #0000 95%, #000);
    -webkit-mask: var(--mask);
    mask: var(--mask);
    -webkit-mask-composite: source-in;
    mask-composite: intersect;
    animation: l2 1s infinite alternate;
}

.loader:before,
.loader:after {
    content: "";
    grid-area: 1/1;
    height: 30px;
    aspect-ratio: 1;
    background: #fff;
    border-radius: 50%;
}

.loader:after {
    margin-left: auto;
}

@keyframes l2 {
    to {
        width: 50px;
    }
}