/* SearchOutput.module.css */

/* 
Kindly adhere to the following linting or layout rules.

Styles grouped in the following order
  1. Type selectors
  2. ID selectors
  3. Class selector
  4. Media selectors (if applicable)

Selectors must be written in camelCase
Selectors must be placed in alphabetical order within each group. 
Exactly one newline between each selector.
*/

/* 1. Type selectors */

/* 2. ID selectors */

/* 3. Class selectors */

.searchOutputObject {
    background-color: white;
    min-height: 30vh;
    padding: 4vh 12vw;
}

.searchResultInfoMessage {
    font-style: italic;
    margin-bottom: 10px;
    text-align: center;
}

li.flightInformationObject {
    align-items: center;
    border: 2px solid lightgray;
    border-radius: 4px;
    padding: 20px 10px;
    list-style-type: none;
}

img.flightInformationImage {
    display: block;
}