/* main component object */
.searchInputObject {
    margin: 0px;
    padding: 2vh 0px 4vh 0px;
    background-color: white;
    /* background-color: rgba(255, 255, 255, 0.75); */

    /* font properties */
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.searchFormWrapper {
    padding: 0px 15px;
    display: flex;
    flex-direction: row;
    border-radius: 50px;
    justify-content: center;
}

.searchFormVerticalGroup {
    padding: 5px 0px 0px 8px;
    display: flex;
    flex-direction: column;
    border-right: 1px grey solid;
}

.inputLabel {
    margin: 0;
    padding: 2px 0;
    outline: none;
    font-weight: 600;
}

.inputTag {
    /* reset styling */
    outline: none;
    border: none;
    background: none;
    box-shadow: none;
    padding: 0px 0px 2px 0px;

    /* custom styling */
    min-height: 35px;
    font-size: 1.25rem;
    background-color: white;
    outline: none;
    border-radius: 5px;
}

.searchForm {
    padding: 0px 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px grey solid;
    border-radius: 50px;

    font-size: 1.25rem;
}

.searchViewHeader {
    text-align: center;
    align-content: center;
}

/* TODO switch to an ID */
.submitButton {
    /* reset styling */
    outline: none;
    border: none;
    background: none;
    box-shadow: none;
    padding: 0;

    /* custom styling */
    margin: 0;
    box-sizing: border-box;
    padding: 0px 0px 0px 15px;

    /* font properties */
    font-size: 1.25rem;
}