/* FlightCard.module.css */

/* 
Kindly adhere to the following linting or layout rules.

Styles grouped in the following order
  1. Type selectors
  2. ID selectors
  3. Class selector
  4. Media selectors (if applicable)

Selectors must be written in camelCase
Selectors must be placed in alphabetical order within each group. 
Exactly one newline between each selector.
*/

/* 1. Type selectors */

p {
  display: flex;
  padding: 4px 4px;
  font-size: 1rem;
  margin: 0;
  align-items: center;
}

/* 2. ID selectors */

/* 3. Class selectors */

.acTypeBackground {
  background-image: url(../../../assets/img/787_profile.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100px;
  grid-column: span 4;

  text-align: center;
  background-position: center;
}

.aircraftTypeInfoString {

  grid-column: span 6;
}

.flightCardObject {

  /* Since we're using a grid, */
  /* note that one cannot simply define the grid-column-end. */
  /* You must specify both to span the columns in between the two. */
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}

.flightCardHorizontalContainer,
.flightCardHorizontalContainer>* {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.flightCardVerticalContainer {
  display: flex;
  flex-direction: column;
}

.priceDisplay {
  display: flex;
  flex-direction: column;

  grid-column: span 2;
  grid-row: span 3;

  border-left: 2px solid var(--theme-colour-primary-blue);

  justify-content: center;
  align-items: center;

  background-color: var(--theme-colour-primary-blue);

  color: white;
}

.priceDisplay>* {
  font-size: 1.1rem;

}

.bookFlightButton {
  margin-top: 30px;
  /* margin-bottom: 20px; */

  padding: 15px 10px;
  border: none;
  background-color: green;

  background: #F4E29A;
  background: linear-gradient(315deg, #F4E29A, #F4D76B);
  border-radius: 5px;
  color: black;

  font-weight: 600;
  /* font-weight: bold; */
}

.lineGraphic {
  font-weight: bold;
  grid-column: span 2;
}

.stopInformationString {
  grid-column: 5 / span 2;

  justify-content: center;
}

.flightNumberString {
  font-weight: bold;
  grid-column: span 4;
}

.aptIcaoString {
  font-weight: bold;
  grid-column: span 2;
  justify-content: center;
}

.aptFullString {
  grid-column: span 4;

}

.gridSpan2 {
  grid-column: span 2;
}

.REM2 {
  font-size: 1.5rem;
}