
a.footerLink {
    color: var(--theme-colour-primary-blue);
}

a.footerLink:hover {
    color: var(--theme-colour-tertiary-grey);
}

.footerObject {
    margin: 0;
    padding: 0;

    color: var(--theme-colour-primary-blue);

    border-top: 1px var(--theme-colour-tertiary-grey) solid;
    border-bottom: 4px var(--theme-colour-primary-blue) solid;
    background-color: var(--theme-colour-secondary-white);

}

.hContainer {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.vContainer {
    margin: 0;
    padding: 15px;
    display: flex;
    flex-direction: column;

    color: var(--theme-colour-primary-blue);
}