/* Hnav.module.css */

/* 
Lint or layout rules:

Styles grouped in the following order
  1. Type selectors
  2. ID selectors
  3. Class selector
  4. Media selectors (if applicable)

Selectors must be written in camelCase
Selectors must be placed in alphabetical order within each group. 
Exactly one newline between each selector.
*/

/* 1. Type selectors */

a.hnavLiItemObject {
  font-style: none;
  color: white;
  padding: 30px 10px;
}

/* 2. ID selectors */

/* 3. Class selectors */

.hnavObject {
  /* position and size properties */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;

  /* additional colour properties */
  color: white;

}

.hnavWrapper {
  padding: 0px var(--body-padding);
}

.hnav {
  width: 100%;
  /* should use rem or other means of responsiveness */
  padding: 0px 4vw 0px 2vw;

  box-sizing: border-box;
  /* borders */
  border-bottom: 1px solid white;
  /* border-left: 1px solid white; */
  /* border-right: 1px solid white; */
  border-radius: 0px 0px 2px 2px;

  background-color: var(--theme-colour-primary-blue);
}

.hnavLiObject {
  /* position and size properties */
  margin: 0;
  padding: 0;
  width: 100%;

  /* layout properties */
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-size: 1.1rem;
}


.imgObject {
  min-width: 256px;
  /* min-height: 64px; */
  background-image: url(./../../../assets/img/air-trilium-banner-blue.svg);
  background-repeat: no-repeat;
  background-size: contain;
}