# Sample values for running and testing the client locally.
GRAPHQL_API_URL=http://airline-graphql-api:8000/
VITE_GRAPHQL_API_URL_TRIP_INFO_ENDPOINT=http://127.0.0.1:8000/userapi/tripinformation
VITE_GRAPHQL_API_URL_FLIGHT_INFO_BASE_ENDPOINT=http://127.0.0.1:8000/userapi/flights